---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Erik, a software developer from Bangladesh 🇧🇩.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        <li>CSS</li>
        <li>Php</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about astronomy, learning physics and traveling. An
      unusual goal of mine is to become a polymath.
    </p>
  </div>
</Card>
